<template>
  <div class="header">
    <img alt="Vue logo" src="../../assets/logo.png" class="vuelogo">
    <h5>Case Changer App</h5>
  </div>  
</template>

<script>
export default {
  name: 'Header'
}
</script>
<style scoped>
.header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  .vuelogo {
    width: 50px;
    height: auto;
  }
</style>