<template>
  <div class="display" v-b-popover.hover.top="`${disvalue.toUpperCase()}`">
    <h3 class="truncate">{{disvalue.toUpperCase()}}<span id="cursor">|</span></h3>
  </div>  
</template>

<script>
export default {
  name: 'DisplayComponent',
  props: ["disvalue"]
}
</script>

<style scoped>
  #cursor {
    width: 2px;
    animation: blinkingText 1.5s infinite;
  }
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .display {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @keyframes blinkingText {
    0%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>