<template>
  <div>
    <input type="text" class="inputField" name="inputField" v-model="inputField" placeholder="Enter text here..." autocomplete="off">
    <p>Character count: {{inputField.length}}</p>
  </div>  
</template>

<script>
export default {
  name: 'InputComponent',
  data() {
    return {
      inputField: ''
    }
  },
  watch: {
    inputField:{
      handler: 'emitChange',
      immediate: false,
    }
  },
  methods: {
    emitChange(event) {
      this.$emit('valueChanged', event);
    }
  }
}
</script>

<style scoped>
  .inputField {
    width: 53%;
    height: 50px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 1px 10px;
  }
</style>