<template>
  <div id="app">
    <Header />
    <b-card
    tag="article"
    style="border:0;background-color:transparent;"
    class="mb-2"
    >
    <b-card-text>
      <InputComponent v-on:valueChanged='valueChange' id="InputComponent"/>
    </b-card-text>
    <b-card-text>
      <DisplayComponent v-bind:disvalue="value" id="OutputComponent"/>
    </b-card-text>
    </b-card>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import InputComponent from './components/InputComponent';
import DisplayComponent from './components/DisplayComponent';
import Header from './components/layouts/Header';

export default {
  name: 'App',
  data() {
    return {
      value: ''
    }
  },
  components: {
    InputComponent,
    DisplayComponent,
    Header
  },
  methods: {
    valueChange(value) {
      this.value = value;
    }
  }
}
</script>

<style>
#app {
  color: #fff;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
#InputComponent {
  margin-top: 60px;
}
#OutputComponent {
  margin-top: 20px;
}
</style>
